/* banner sections starts  */
.banner-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background: #f9f7ff;
  background: linear-gradient(to top, #29a354, #f9f7ff);
}

.banner-container .banner-content {
  width: 100%;
  max-width: 872px;
  padding: 0 8px;
}

.banner-container .banner-content * {
  margin-bottom: 2vh;
}

.banner-container .banner-content h1 {
  color: #0c0531;
  font-family: Lexend;
  font-size: 5rem;
  font-weight: 600;
  line-height: 125%;
  /* 112.5px */
}

.banner-container .btn-primary {
  box-shadow: 5px 5px 5px #86fdb08e;
}
.banner-container .btn-primary:hover {
  box-shadow: 5px 5px 5px #b5ffcf8e;
}

.banner-container .banner-img {
  width: 100%;
  max-width: 606px;
  height: auto;
}

.banner-container .banner-img img {
  width: 100%;
}

/* Benefit section starts here  */
section {
  margin-top: 40px;
}
.benefit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 0 10px;
}
.benefit-container .benefit-img {
  width: 100%;
  max-width: 500px;
}
.benefit-container .benefit-img img {
  width: 100%;
  height: auto;
}
.benefit-container .benefit-txt {
  width: 80%;
  border-bottom: 1px solid #0000002a;
  padding-bottom: 10px;
}
.benefit-container .benefit-txt h3 {
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.8rem;
}

/* course sections starts  */

.course-container .course-header {
  text-align: center;
  margin-bottom: 20px;
}
.course-cards {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  margin: 0 12px;
  justify-items: center;
}
.course-cards .card-body {
  width: 320px;
  height: auto;
  background: #fcfcfc;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #e4e4e4;
  padding: 10px;
  grid-column: span 3;
}
.course-cards .card-body .card-img {
  width: 300px;
  height: auto;
}
.card-body .card-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.card-body .card-info {
  margin-top: 15px;
  display: grid;
  gap: 20px;
}
.card-body .play-lessons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-body .card-title {
  font-weight: 600;
  font-size: 1.5rem;
  color: #0c0531;
  font-family: "Lexend", sans-serif;
}
.card-body .price-rating {
  display: flex;
  justify-content: space-between;
}
.card-body .price-rating .new-price,
.old-price {
  font-size: 18px;
  font-weight: 600;
}
.card-body .price-rating .new-price {
  color: #ff6f06;
}
.card-body .price-rating .old-price {
  color: #827a7a;
  text-decoration: line-through;
  margin-left: 5px;
}
.card-body .card-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.card-body .card-footer-left {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #827a7a;
  font-size: 1.2rem;
}
.card-body .add-to-cart {
  background: #ff6f06;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
}
.ccard-body.divider {
  background: #827a7a4b;
  height: 1px;
  width: 90%;
  margin: 0 auto;
}

/* subscribe section starts  */
#subscribe {
  background-color: #85d1a0;
  border-radius: 8px;
  margin: 50px 10px;
  padding: 30px;
}
.subscribe-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.subscribe-container > .text-gray,
.subscribe-container > .section-headline {
  color: #fff;
  margin-bottom: 20px;
}
#subscribe-user input {
  height: 60px; /* 45, 35 */
  outline: none;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
}
#subscribe-user input[type="email"] {
  width: 40%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #827a7a;
  padding-left: 20px;
}
#subscribe-user input[type="submit"] {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #6255a5;
  color: #fff;
  margin-left: -5px;
}
@media screen and (max-width: 1024px) {
  /* Banner section  */
  .banner-container .banner-content h1 {
    font-size: 3rem;
  }

  .banner-container .btn-primary {
    width: 165px;
    font-weight: 500;
  }
  /* card section  */
  .course-cards .card-body {
    grid-column: span 4;
  }
  .card-body .card-info {
    gap: 8px;
  }
  .card-body .card-title {
    font-size: 1rem;
  }
  .card-body .price-rating .new-price,
  .old-price {
    font-size: 14px;
  }
  .card-body .card-footer {
    margin-bottom: 5px;
  }
  .card-body .card-footer-left {
    gap: 5px;
    font-size: 1rem;
  }
  .card-body .add-to-cart {
    padding: 4px 10px;
  }
  #subscribe-user input {
    height: 45px;
    padding: 7px;
    font-size: 1rem;
  }
  #subscribe-user input[type="email"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 15px;
  }
  #subscribe-user input[type="submit"] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  /* banner section  */
  .banner-container {
    flex-direction: column;
  }

  .banner-container .banner-content h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 2.5rem;
  }

  .banner-container .btn-primary {
    width: 150px;
    font-weight: 500;
  }
  /* benefit section starts  */
  .benefit-container .benefit-img {
    max-width: 420px;
  }
  .benefit-container .benefit-txt h3 {
    font-size: 1.3rem;
    margin: 6px 0;
  }
  .course-cards .card-body {
    grid-column: span 6;
  }

  #subscribe-user input {
    height: 35px;
    padding: 5px;
    font-size: 0.9rem;
  }
  #subscribe-user input[type="email"] {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .banner-container .banner-content h1 {
    font-size: 2.2rem;
    margin-top: 25px;
  }
  .banner-container .banner-img {
    display: flex;
    justify-content: end;
    height: 130px;
  }
  .banner-container .banner-img img {
    height: 200px;
    width: 200px;
    transform: translateY(-80px);
  }

  section {
    margin-top: 20px;
  }
  /* benefit section starts  */
  .benefit-container {
    flex-direction: column-reverse;
  }
  .benefit-content .section-headline {
    text-align: center;
  }
  .benefit-container .benefit-txt {
    width: 100%;
  }
  .benefit-container .benefit-txt h3 {
    font-size: 1.1rem;
    text-align: center;
  }
  .benefit-container .text-gray {
    text-align: center;
  }
  /* card section  */
  .course-cards .card-body {
    grid-column: span 12;
  }
}
