/* banner sections starts  */
.banner-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  background: #f9f7ff;
  background: linear-gradient(to top, #29a354, #f9f7ff);
}

.banner-container .banner-content {
  width: 100%;
  max-width: 872px;
  padding: 0 8px;
}

.banner-container .banner-content * {
  margin-bottom: 2vh;
}

.banner-container .banner-content h1 {
  color: #0c0531;
  font-family: Lexend;
  font-size: 5rem;
  font-weight: 600;
  line-height: 125%;
  /* 112.5px */
}

.banner-container .btn-primary {
  box-shadow: 5px 5px 5px #86fdb08e;
}
.banner-container .btn-primary:hover {
  box-shadow: 5px 5px 5px #b5ffcf8e;
}

.banner-container .banner-img {
  width: 100%;
  max-width: 606px;
  height: auto;
}

.banner-container .banner-img img {
  width: 100%;
}

/* Benefit section starts here  */
section {
  margin-top: 40px;
}
.benefit-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.benefit-container .benefit-img {
  width: 100%;
  max-width: 500px;
}
.benefit-container .benefit-img img {
  width: 100%;
  height: auto;
}
.benefit-container .benefit-txt {
  width: 80%;
  border-bottom: 1px solid #0000002a;
  padding-bottom: 10px;
}
.benefit-container .benefit-txt h3 {
  margin: 10px 0;
  font-weight: 700;
  font-size: 1.8rem;
}

@media screen and (max-width: 1024px) {
  /* Banner section  */
  .banner-container .banner-content h1 {
    font-size: 3rem;
  }

  .banner-container .btn-primary {
    width: 165px;
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  /* banner section  */
  .banner-container {
    flex-direction: column;
  }

  .banner-container .banner-content h1 {
    margin-top: 40px;
    text-align: center;
    font-size: 2.5rem;
  }

  .banner-container .btn-primary {
    width: 150px;
    font-weight: 500;
  }
  .benefit-container .benefit-img {
    max-width: 420px;
  }
  .benefit-container .benefit-txt h3 {
    font-size: 1.3rem;
    margin: 6px 0;
  }
}

@media screen and (max-width: 600px) {
  .banner-container .banner-content h1 {
    font-size: 2.2rem;
    margin-top: 25px;
  }
  .banner-container .banner-img {
    display: flex;
    justify-content: end;
    height: 130px;
  }
  .banner-container .banner-img img {
    height: 200px;
    width: 200px;
    transform: translateY(-80px);
  }

  section {
    margin-top: 20px;
  }
  /* benefit section starts  */
  .benefit-container {
    flex-direction: column-reverse;
    padding: 0 10px;
  }
  .benefit-container .benefit-txt {
    width: 100%;
  }
  .benefit-container .benefit-txt h3 {
    font-size: 1.1rem;
    text-align: center;
  }
  .benefit-container .text-gray{
    text-align: center;
  }
}
